<h2>Les derniers albums écoutés:</h2>
    <div class="music-container">
       {% for album in listened_albums %}
        <div class="album">
             <div class="pochette">
                <input type="hidden" class="target" value="{{ album.album_id }}"/>
                 {% if  album.album_cover != "None" %}
                <img src="/{{ album.album_cover }}" class="link link_album"/>
                {% else %}
                <img src="/static/images/alt.jpg/" class="link link_album"/>
                {% endif %}
                  <div> <input type="hidden" class="target" value="{{ album.tracks[0].artist_id }}"/><p class="link link_artist">{{ album.tracks[0].artist_name }}</p></div>
                <p class="link link_album">{{ album.album_title }} ({{ album.album_date }})</p>
             </div>
             <div><button class="addToPlaylist" name="album" value="{{ album.album_id }}">+</button></div>
        </div>
    {% endfor %}
</div>

<h2>Les derniers albums ajoutés:</h2>
<div class="music-container">
   {% for album in last_albums %}
         <div class="album">
             <div class="pochette">
                <input type="hidden" class="target" value="{{ album.album_id }}"/>
                 {% if  album.album_cover != "None" %}
                <img src="/{{ album.album_cover }}" class="link link_album"/>
                {% else %}
                <img src="/static/images/alt.jpg/" class="link link_album"/>
                {% endif %}
                  <div> <input type="hidden" class="target" value="{{ album.tracks[0].artist_id }}"/><p class="link link_artist">{{ album.tracks[0].artist_name }}</p></div>
                <p class="link link_album">{{ album.album_title }} ({{ album.album_date }})</p>
             </div>
             <div><button class="addToPlaylist" name="album" value="{{ album.album_id }}">+</button></div>
        </div>
    {% endfor %}
</div>

<h2>Au hasard:</h2>
    <div class="music-container">
       {% for album in albums_random %}
        <div class="album">
             <div class="pochette">
                <input type="hidden" class="target" value="{{ album.album_id }}"/>
                 {% if  album.album_cover != "None" %}
                <img src="/{{ album.album_cover }}" class="link link_album"/>
                {% else %}
                <img src="/static/images/alt.jpg/" class="link link_album"/>
                {% endif %}
                  <div> <input type="hidden" class="target" value="{{ album.tracks[0].artist_id }}"/><p class="link link_artist">{{ album.tracks[0].artist_name }}</p></div>
                <p class="link link_album">{{ album.album_title }} ({{ album.album_date }})</p>
             </div>
             <div><button class="addToPlaylist" name="album" value="{{ album.album_id }}">+</button></div>
        </div>
    {% endfor %}
</div>

