<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/musico.css" />
		<title>Musico!</title>
	</head>

	<body>
        <section id="login">
            <h1>Musico!</h1>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            <div>
                <form action="/login" method="POST">
                    <input id="next" name="next" type="hidden" value="">
                    <label for="email">Mail:</label><br>
                    <input id="email" name="email" type="text"><br>
                    <label for="password">Mot de passe:</label><br>
                    <input id="password" name="password" type="password"><br>
                    <br>
                    <input type="submit" id="submit" value="Envoyer">
                </form>
                <br>
                <a href="/lost-password">J'ai oublié mon mot de passe!</a> <br>
                ou <br>
                <a href="/register">S'inscrire</a>
            </div>

        </section>
    </body>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</html>
