<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/couture.css" />
        <title>Ciseaux pointus</title>
	</head>

	<body>
        <header>
            <h1><a href="/">Les petits ciseaux pointus</a></h1>
        </header>

        <h2>Demander un nouveau mot de passe</h2>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        <div>
            <form action="/lost-password/" method="POST">
                <label for="email">Mail:</label><br>
                <input id="email" name="email" type="text"><br>
                <input type="submit" id="submit" value="Envoyer">
            </form>
        </div>
	</body>

</html>
